@use "src/mixins/typography" as mixins;

.modalContent{
  height: 100%;
  width: 17vw;
  position: absolute;
  background-color: #fcf8f3;
  top: 0;
  transition: left 1s;
  border-right: black 2px solid;
  position: fixed;
  .buttonGroup{
    margin-top: 5px;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px black solid;
    .titleGroup{
      display: flex;
      .title{
        line-height: 190%;
        user-select: none;
        @include mixins.typography;
      }
      .icon{
        font-size: 1.5rem;
        margin-right: 5px;
        margin-top: 3px;
        cursor: pointer;
        &:hover{
          color: #00beff;
        }
        &:active{
          color: #84e1ff;
        }
      }
    }
    .collapse{
      margin-right: 2.5px;
      font-size: 2rem;
      cursor: pointer;
    }
  }
  .sidebarContent{
    width: 100%;
    display: block;
  }
}

.sidebarContentExpanded{
  left: 0;
}

.sidebarContentCollapsed{
  left: -14.5vw;
}


